[user]
	email = mr@zealot.hu
	name = Bán Dénes
[http]
	postBuffer = 1048576000
[alias]
	br = branch
	ci = commit -m
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	pushall = !git remote | xargs -L1 git push --all
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[color]
	status = always